*{
    margin: 0;
    padding: 0 5px;
    box-sizing: border-box;
}

body{
    font-family: -apple-sys tem, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

#worldCup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#worldCup-header div{
    width: 33%;
}

#worldCup-header div:nth-child(2){
    display: flex;
    justify-content: center;
}

#worldCup-header div:last-child {
    display: flex;
    justify-content: flex-end;
}

#worldCup-header img{
    width: 100px;
    height: 100px;
}